<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tengwar symbols</key>
	<dict>
		<key>9</key>
		<string>hyarmen</string>
		<key>,</key>
		<string>esse nuquerna</string>
		<key>k</key>
		<string>esse</string>
		<key>i</key>
		<string>silme nuquerna</string>
		<key>8</key>
		<string>silme</string>
		<key>m</key>
		<string>alda</string>
		<key>j</key>
		<string>lambe</string>
		<key>u</key>
		<string>arda</string>
		<key>7</key>
		<string>rómen</string>
		<key>n</key>
		<string>wilya</string>
		<key>h</key>
		<string>anna</string>
		<key>y</key>
		<string>vala</string>
		<key>6</key>
		<string>óre</string>
		<key>b</key>
		<string>nwalme</string>
		<key>g</key>
		<string>noldo</string>
		<key>t</key>
		<string>malta</string>
		<key>5</key>
		<string>númen</string>
		<key>v</key>
		<string>unque</string>
		<key>f</key>
		<string>anca</string>
		<key>r</key>
		<string>ampa</string>
		<key>4</key>
		<string>anto</string>
		<key>c</key>
		<string>hwesta</string>
		<key>d</key>
		<string>aha</string>
		<key>e</key>
		<string>formen</string>
		<key>3</key>
		<string>súle</string>
		<key>x</key>
		<string>ungwe</string>
		<key>s</key>
		<string>anga</string>
		<key>w</key>
		<string>umbar</string>
		<key>2</key>
		<string>ando</string>
		<key>z</key>
		<string>quesse</string>
		<key>a</key>
		<string>calma</string>
		<key>q</key>
		<string>parma</string>
		<key>1</key>
		<string>tinco</string>
		<key>ñÉ</key>
		<string>mine (1)</string>
		<key>òÉ</key>
		<string>atta (2)</string>
		<key>óÈ</key>
		<string>nelde (3)</string>
		<key>ôÉ</key>
		<string>canta (4)</string>
		<key>õÈ</key>
		<string>lempe (5)</string>
		<key>öÈ</key>
		<string>enque (6)</string>
		<key>÷É</key>
		<string>otso (7)</string>
		<key>øÉ</key>
		<string>tolto (8)</string>
		<key>ùÈ</key>
		<string>nerte (9)</string>
		<key>úÉ</key>
		<string>quea (10)</string>
		<key>ûÉ</key>
		<string>minque (11)</string>
		<key>ñÉðÉ</key>
		<string>yunque (12)</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>parmaite.ttf</string>
	</array>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>edu.self.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
